* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

button {
  cursor: pointer;
  color: black;
}
select {
  color: black;
}
li {
  list-style: none;
}
body {
  margin: 0;
}
p,
h1,
h2 {
  margin: 0;
}
ul {
  padding: 0;
}
